@page "/"

<PageTitle>Index</PageTitle>
<span class="pageheader">Selected Controls</span>
<br />
<p class="pagecontent">The following Syncfusion Blazor components can be set up in an application for you with the Syncfusion Blazor Template Studio. A fast, easy start with Syncfusion Blazor components lets you concentrate on the important part: learning.</p>
<div class="controlregion">

 <h5 class="productheader"> Grids</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="datagrid-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-datagrid" aria-hidden="true"></span>DataGrid
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Data Visualization</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="heatmapchart-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-heatmapchart" aria-hidden="true"></span>HeatMap Chart
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="lineargauge-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-lineargauge" aria-hidden="true"></span>Linear Gauge
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="barcodegenerator-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-barcodegenerator" aria-hidden="true"></span>Barcode Generator
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="kanban-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-kanban" aria-hidden="true"></span>Kanban
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="progressbar-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-progressbar" aria-hidden="true"></span>ProgressBar
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Viewer</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="pdfviewer-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-pdfviewer" aria-hidden="true"></span>PDF Viewer
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Editors</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="richtexteditor-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-richtexteditor" aria-hidden="true"></span>Rich Text Editor
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Calendar</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="calendar-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-calendar" aria-hidden="true"></span>Calendar
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="daterangepicker-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-daterangepicker" aria-hidden="true"></span>DateRangePicker
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="datetimepicker-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-datetimepicker" aria-hidden="true"></span>DateTime Picker
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> DropDowns</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="combobox-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-combobox" aria-hidden="true"></span>ComboBox
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="dropdownlist-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-dropdownlist" aria-hidden="true"></span>Dropdown List
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="multiselectdropdown-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-multiselectdropdown" aria-hidden="true"></span>MultiSelect Dropdown
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Layout</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="listview-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-listview" aria-hidden="true"></span>ListView
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="tooltip-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-tooltip" aria-hidden="true"></span>Tooltip
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Inputs</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="radiobutton-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-radiobutton" aria-hidden="true"></span>Radio Button
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="checkbox-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-checkbox" aria-hidden="true"></span>Checkbox
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="fileupload-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-fileupload" aria-hidden="true"></span>File Upload
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="toggleswitchbutton-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-toggleswitchbutton" aria-hidden="true"></span>Toggle Switch Button
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> Notification</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="toast-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-toast" aria-hidden="true"></span>Toast
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="spinner-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-spinner" aria-hidden="true"></span>Spinner
 	</NavLink>
 	</li>

</ul>
 <h5 class="productheader"> File Format Frameworks</h5>
<ul class="ulstyle">
	<li class="list">
 	<NavLink class="nav-link" href="excel-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-excel" aria-hidden="true"></span>Excel
 	</NavLink>
 	</li>
	<li class="list">
 	<NavLink class="nav-link" href="pdf-features">
 	<span class="syncfusion-blazor-index-icons syncfusion-blazor-icon-pdf" aria-hidden="true"></span>PDF
 	</NavLink>
 	</li>

</ul>

</div>
<style>
    .ulstyle {
        margin-top: 10px;
        margin-bottom: 20px;
        display: inline-block;
        list-style-type: none !important;
        padding-left: 0px !important;
    }

    .controlregion {
        margin-top: 50px;
    }

    .pagecontent {
        font-family: sans-serif !important;
font-size: 16px;
color: #333333;
letter-spacing: 0.34px;
line-height: 24px;
margin-top: 10px;
    }
    

    .list {
        float: left;
        line-height: 40px;
        min-width: 280px;
        font-family: sans-serif !important;
        font-size: 19px;
        color: #0073DC;
    }

    .syncfusion-blazor-index-icons {
        font-family: "sbicons";
        color: #0073DC !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-right: 13px;
        font-size: 18px;
    }

    .productheader {
        font-family: sans-serif !important;
        font-size: 19px !important;
        color: #333333 !important;
        letter-spacing: 0.41px ;
    }

    .pageheader {
        font-family: sans-serif !important;
        font-size: 24px !important;
        color: #333333 ;
        font-weight: bold !important;
    }
</style>
