@page "/kanban-features"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Kanban
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using NutrientTrecker.Data
<h2>Kanban</h2>
<br/>
<div id = "ControlRegion">
<div class="control-section">
    <SfKanban TValue="KanbanDataModels" CssClass="kanban-default" KeyField="Status" DataSource="@Tasks" EnableTooltip="true">
         <KanbanColumns>
            @foreach (ColumnModel item in columnData)
            {
                <KanbanColumn HeaderText="@item.HeaderText" KeyField="@item.KeyField" AllowToggle="true"></KanbanColumn>
            }
        </KanbanColumns>
        <KanbanCardSettings HeaderField="Id" ContentField="Summary"></KanbanCardSettings>
		  <KanbanSwimlaneSettings KeyField="Assignee" AllowDragAndDrop="false" ShowItemCount="true" SortDirection=SortDirection.Ascending></KanbanSwimlaneSettings>
    </SfKanban>
</div>
</div>
<br/>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Kanban Samples - Default</li>
      <li class="list"> Toggle Columns</li>
      <li class="list"> Tooltip Template</li>
      <li class="list"> Enable Swimlane</li>
      <li class="list"> Theme - Bootstrap v5</li>
    </ul>
</div>
<br/>
<style>
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 290px;
    }
</style>
@code {
    private List<KanbanDataModels> Tasks = new KanbanDataModels().GetCardTasks();
     private List<ColumnModel> columnData = new List<ColumnModel>() {
        new ColumnModel(){ HeaderText = "To Do", KeyField = new List<string>() { "Open" } },
        new ColumnModel(){ HeaderText = "In Progress", KeyField = new List<string>() { "InProgress" } },
        new ColumnModel(){ HeaderText = "In Review", KeyField = new List<string>() { "Review" } },
        new ColumnModel(){ HeaderText = "Done", KeyField = new List<string>() { "Close" } }
    };
    private SortDirection sortType { get; set; } = SortDirection.Ascending;
    private bool allowDragAndDrop { get; set; } = false;
    private bool showItemCount { get; set; } = true;
}
