<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <span class="displayText">Syncfusion Blazor Samples</span>
            </NavLink>
        </li>
    </ul>
 <div class="separator"></div>
    <div class="scroller">
       <ul class="nav flex-column">
       			<li class="nav-item px-3">
 	<NavLink class="nav-link" href="datagrid-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-datagrid" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">DataGrid</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="heatmapchart-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-heatmapchart" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">HeatMap Chart</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="lineargauge-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-lineargauge" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Linear Gauge</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="barcodegenerator-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-barcodegenerator" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Barcode Generator</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="kanban-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-kanban" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Kanban</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="progressbar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-progressbar" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">ProgressBar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="pdfviewer-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-pdfviewer" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">PDF Viewer</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="richtexteditor-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-richtexteditor" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Rich Text Editor</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="calendar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-calendar" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Calendar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="daterangepicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-daterangepicker" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">DateRangePicker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="datetimepicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-datetimepicker" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">DateTime Picker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="combobox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-combobox" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">ComboBox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="dropdownlist-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-dropdownlist" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Dropdown List</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="multiselectdropdown-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-multiselectdropdown" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">MultiSelect Dropdown</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="listview-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-listview" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">ListView</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="tooltip-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-tooltip" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Tooltip</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="radiobutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-radiobutton" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Radio Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="checkbox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-checkbox" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Checkbox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="fileupload-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-fileupload" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">File Upload</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="toggleswitchbutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-toggleswitchbutton" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Toggle Switch Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="toast-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-toast" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Toast</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="spinner-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-spinner" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Spinner</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="excel-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-excel" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">Excel</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="pdf-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-pdf" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">PDF</span>
 	</NavLink>
 	</li>

       </ul>
    </div>
</div>
<style>
 .scroller {
         height: calc(100vh - 160px) !important;
         overflow-y: auto;
         width: 287px;
     }

         .scroller::-webkit-scrollbar, scrollbar-thumb
         .scroller::-webkit-scrollbar-thumb {
             width: 8px;
             height: 110px;
             border-radius: 4px;
             position: center;
         }

         .scroller::-webkit-scrollbar-thumb {
             box-shadow: inset 0 0 0 10px #313C75;
             border-radius: 4px;
         }

         .scroller::-webkit-scrollbar-track {
             width: 28px;
         }
     .separator {
         border: 1px solid #FFFFFF;
         opacity: 0.14;
         width: 247px;
         margin: 1rem;
         margin-top: 0px;
     }
</style>

